.form {
	margin: 100px auto;
	width: 500px;
	border: solid grey 1px;
	box-shadow: 2px 0 5px black;
	padding: 30px;
	box-sizing: border-box;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-style: italic;
	color: red;
}

.btn-input {
	box-shadow: 2px 2px 2px rgb(3, 207, 207);
	box-sizing: border-box;
	padding: 8px;
	border-radius: 8px;
	color: rgb(3, 207, 207);
	background-color: #fafafa;
}

.btn-input:hover {
	color: #fafafa;
	background-color: rgb(3, 207, 207);
	transition: 0.5s;
	box-shadow: 2px 2px 2px #fafafa;
}
